# Завдання 2. Робота з netflix_titles.csv

Робота з датасетом Netflix titles для фільтрації та обробки даних.

In [1]:
import pandas as pd

netflix = pd.read_csv('netflix.csv', parse_dates=['date_added'])

netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5837 entries, 0 to 5836
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       5837 non-null   object
 1   director    3936 non-null   object
 2   date_added  5195 non-null   datetime64[ns]
 3   type        5837 non-null   object
dtypes: datetime64[ns](1), object(3)
memory usage: 182.5+ KB

C:\Users\Федина М\AppData\Local\Temp\ipykernel_11420\2578524846.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  netflix = pd.read_csv('netflix.csv', parse_dates=['date_added'])

In [2]:
## 2) Знайти усі рядки з назвою Limitless

limitless_rows = netflix[netflix['title'] == 'Limitless']
limitless_rows

          title         director date_added     type
1559  Limitless      Neil Burger 2019-05-16    Movie
2564  Limitless              NaN 2016-07-01  TV Show
4579  Limitless  Vrinda Samartha 2019-10-01    Movie

In [3]:

## 3) Знайти всі рядки з режисером Robert Rodriguez та типом Movie
robert_rodriguez_movies = netflix[(netflix['director'] == 'Robert Rodriguez') & (netflix['type'] == 'Movie')]
robert_rodriguez_movies

,title,director,date_added,type
1384,Spy Kids: All the Time in the World,Robert Rodriguez,2019-02-19,Movie
1416,Spy Kids 3: Game Over,Robert Rodriguez,2019-04-01,Movie
1460,Spy Kids 2: The Island of Lost Dreams,Robert Rodriguez,2019-03-08,Movie
2890,Sin City,Robert Rodriguez,2019-10-01,Movie
3836,Shorts,Robert Rodriguez,2019-07-01,Movie
3883,Spy Kids,Robert Rodriguez,2019-04-01,Movie

In [4]:
## 4) Знайти усі рядки з датою початку трансляції на Netflix 2019-07-31 або режисером Robert Altman
target_date = pd.to_datetime('2019-07-31')
robert_altman_or_date = netflix[(netflix['date_added'] == target_date) | (netflix['director'] == 'Robert Altman')]
robert_altman_or_date

                                title       director date_added     type
611                            Popeye  Robert Altman 2019-11-24    Movie
1028        The Red Sea Diving Resort    Gideon Raff 2019-07-31    Movie
1092                     Gosford Park  Robert Altman 2019-11-01    Movie
3473  Bangkok Love Stories: Innocence            NaN 2019-07-31  TV Show
5117                       Ramen Shop      Eric Khoo 2019-07-31    Movie

In [5]:

## 5) Знайти усі рядки з режисером Orson Welles, Aditya Kripalani та Sam Raimi (без використання оператора OR)
directors_list = ['Orson Welles', 'Aditya Kripalani', 'Sam Raimi']
directors_filter = netflix[netflix['director'].isin(directors_list)]
directors_filter

                           title          director date_added   type
946                 The Stranger      Orson Welles 2018-07-19  Movie
1870                    The Gift         Sam Raimi 2019-11-20  Movie
3706                Spider-Man 3         Sam Raimi 2019-11-01  Movie
4243        Tikli and Laxmi Bomb  Aditya Kripalani 2018-08-01  Movie
4475  The Other Side of the Wind      Orson Welles 2018-11-02  Movie
5115    Tottaa Pataaka Item Maal  Aditya Kripalani 2019-06-25  Movie

In [6]:

## 6) Знайти усі рядки зі значеннями стовпця date_added між 1 травня та 1 липня 2019 (без використання оператора AND)
start_date = pd.to_datetime('2019-05-01')
end_date = pd.to_datetime('2019-07-01')
date_range_filter = netflix[netflix['date_added'].between(start_date, end_date, inclusive='left')]
date_range_filter

,title,director,date_added,type
7,7SEEDS,NaN,2019-06-28,TV Show
19,DJ Cinderella,Bruno Garotti,2019-06-14,Movie
29,Chopsticks,Sachin Yardi,2019-05-31,Movie
50,Stree,Amar Kaushik,2019-06-07,Movie
60,Away From Home,NaN,2019-05-08,TV Show
...,...,...,...,...
5721,Salem: His Sister's Father,Mohamed Hamdy,2019-06-22,Movie
5738,Cosmos Laundromat: First Cycle,Mathieu Auvray,2019-06-04,Movie
5739,Mission Istaanbul: Darr Ke Aagey Jeet Hai,Apoorva Lakhia,2019-05-16,Movie
5756,Unruly Friends,Sherif Mandour,2019-06-20,Movie
5829,The Kindness Diaries,NaN,2019-05-01,TV Show

In [7]:

## 7) Видалити всі рядки з NaN в стовпці director
netflix_clean = netflix.dropna(subset=['director'])

netflix_clean.head()

                                title        director date_added   type
1                      A Patch of Fog  Michael Lennox 2017-04-15  Movie
3                           Uriyadi 2     Vijay Kumar 2019-08-02  Movie
4                   Shrek the Musical     Jason Moore 2013-12-29  Movie
5                    Schubert In Love     Lars Büchel 2018-03-01  Movie
6  We Have Always Lived in the Castle   Stacie Passon 2019-09-14  Movie

In [8]:
date_counts = netflix['date_added'].value_counts()

single_movie_dates = date_counts[date_counts == 1].index

single_movie_days = netflix[netflix['date_added'].isin(single_movie_dates)]
single_movie_days

,title,director,date_added,type
4,Shrek the Musical,Jason Moore,2013-12-29,Movie
12,Without Gorky,Cosima Spender,2017-05-31,Movie
30,Anjelah Johnson: Not Fancy,Jay Karas,2015-10-02,Movie
38,One Last Thing,Tim Rouhana,2019-08-25,Movie
70,Marvel's Iron Man & Hulk: Heroes United,Leo Riley,2014-02-16,Movie
...,...,...,...,...
5748,Menorca,John Barnard,2017-08-27,Movie
5749,Green Room,Jeremy Saulnier,2018-11-12,Movie
5788,Chris Brown: Welcome to My Life,Andrew Sandler,2017-10-07,Movie
5789,A Very Murray Christmas,Sofia Coppola,2015-12-04,Movie
5812,Little Singham in London,Prakash Satam,2019-04-22,Movie