# Завдання 1. Робота з об'єктами DataFrame

Файл nfl.csv містить список гравців Національної ліги з наступними стовпцями: Name, Team, Position, Birthday та Salary.

In [1]:
import pandas as pd

nfl = pd.read_csv('nfl.csv', parse_dates=['Birthday'], index_col='Name')

print(nfl)

                                    Team Position   Birthday   Salary
Name
Tremon Smith         Philadelphia Eagles       RB 1996-07-20   570000
Shawn Williams        Cincinnati Bengals       SS 1991-05-13  3500000
Adam Butler         New England Patriots       DT 1994-04-12   645000
Derek Wolfe               Denver Broncos       DE 1990-02-24  8000000
Jake Ryan           Jacksonville Jaguars      OLB 1992-02-27  1000000
...                                  ...      ...        ...      ...
Bashaud Breeland      Kansas City Chiefs       CB 1992-01-30   805000
Craig James          Philadelphia Eagles       CB 1996-04-29   570000
Jonotthan Harrison         New York Jets        C 1991-08-25  1500000
Chuma Edoga                New York Jets       OT 1997-05-25   495000
Tajae Sharpe            Tennessee Titans       WR 1994-12-23  2025000

[1655 rows x 4 columns]

In [2]:
## 2) Маніпуляції з даними

team_capacity = nfl['Team'].value_counts()

print("Перші три елементи:")
print(team_capacity.head(3))

print("\nОстанні три елементи:")
print(team_capacity.tail(3))

Перші три елементи:
Team
New York Jets          58
Washington Redskins    56
Kansas City Chiefs     56
Name: count, dtype: int64

Останні три елементи:
Team
Tampa Bay Buccaneers    47
Pittsburgh Steelers     47
Tennessee Titans        46
Name: count, dtype: int64

In [3]:
team_with_most_players = team_capacity.index[0]

players_from_largest_team = nfl[nfl['Team'] == team_with_most_players]

oldest_highest_paid = players_from_largest_team.sort_values(['Birthday', 'Salary'], ascending=[True, False]).iloc[0]

print("Найбільшоплачуваний старший гравець команди з найбільшою чисельністю гравців:")
print(oldest_highest_paid[['Team', 'Position', 'Birthday', 'Salary']])

Найбільшоплачуваний старший гравець команди з найбільшою чисельністю гравців:
Team              New York Jets
Position                      C
Birthday    1985-03-29 00:00:00
Salary                  2400000
Name: Ryan Kalil, dtype: object

In [4]:
team_with_least_players = team_capacity.index[-1]

players_from_smallest_team = nfl[nfl['Team'] == team_with_least_players]

youngest_highest_paid = players_from_smallest_team.sort_values(['Birthday', 'Salary'], ascending=[False, False]).iloc[0]

print("Найбільшоплачуваний молодший гравець команди з найменшою чисельністю гравців:")
print(youngest_highest_paid[['Team', 'Position', 'Birthday', 'Salary']])

Найбільшоплачуваний молодший гравець команди з найменшою чисельністю гравців:
Team           Tennessee Titans
Position                     FS
Birthday    1998-06-14 00:00:00
Salary                   495000
Name: Amani Hooker, dtype: object

In [5]:
## 3) Додаткові маніпуляції з даними

nfl = nfl.reset_index()
nfl = nfl.set_index('Team')

nfl.head()

                                Name Position   Birthday   Salary
Team
Philadelphia Eagles     Tremon Smith       RB 1996-07-20   570000
Cincinnati Bengals    Shawn Williams       SS 1991-05-13  3500000
New England Patriots     Adam Butler       DT 1994-04-12   645000
Denver Broncos           Derek Wolfe       DE 1990-02-24  8000000
Jacksonville Jaguars       Jake Ryan      OLB 1992-02-27  1000000

In [6]:
nfl = nfl.rename(columns={'Birthday': 'Date of Birth'})

nfl.head()

                                Name Position Date of Birth   Salary
Team
Philadelphia Eagles     Tremon Smith       RB    1996-07-20   570000
Cincinnati Bengals    Shawn Williams       SS    1991-05-13  3500000
New England Patriots     Adam Butler       DT    1994-04-12   645000
Denver Broncos           Derek Wolfe       DE    1990-02-24  8000000
Jacksonville Jaguars       Jake Ryan      OLB    1992-02-27  1000000

In [8]:
non_datetime_cols = nfl.select_dtypes(exclude=['datetime64']).columns

nfl.iloc[10:20][non_datetime_cols]

                                  Name Position    Salary
Team
Atlanta Falcons            Josh Harris       LS    930000
Cleveland Browns        Adarius Taylor      OLB   1350000
Minnesota Vikings      Olabisi Johnson       WR    647500
Tampa Bay Buccaneers      Andrew Adams       SS    720000
Los Angeles Chargers      Forrest Lamp        G   1071084
Washington Redskins      Ryan Kerrigan      OLB  10500000
Philadelphia Eagles       Robert Davis       WR    570000
Tennessee Titans           Kevin Byard       FS   2025000
Chicago Bears            Pat O'Donnell        P   1250000
Houston Texans        Barkevious Mingo      OLB   3400000